C4 - Convolutional Neural Networks/W2 - Deep Convolutional Models/Programming Assignments/W2A1 - Residual networks/models
C4 - Convolutional Neural Networks/W2 - Deep Convolutional Models/Programming Assignments/W2A1 - Residual networks/resnet50.h5

C4 - Convolutional Neural Networks/W3 - Object Detetion/Programming Assignments/W3A1 - Car detection with YOLO/model_data
C4 - Convolutional Neural Networks/W4 - Special applications/Programming Assignments/W4A1 - Face recognition/keras-facenet_tf23
C4 - Convolutional Neural Networks/W4 - Special applications/Programming Assignments/W4A1 - Face recognition/keras-facenet-h5
C4 - Convolutional Neural Networks/W4 - Special applications/Programming Assignments/W4A2 - Art Generation with Neural Style Transfer/pretrained-model

